.dailyPlan {
    color: black;
    font-size: 12pt;
    height: 100%;
    width: 100%;
}

.row {
    padding: 10px;
    border-top: 1px solid black;
}

body {
    padding-bottom: 100px;
    font-family: fantasy, cursive, sans-serif;
}